.perfil-container{
    display: grid;
    grid-template-columns: 277px 1fr;
    min-height: 100vh;
    font-family: var(--text-rubik);
}

.perfil-navigation{
    background-color: #EFEFEF;
    position: relative;
    padding-right: 30px;
    padding-left: 30px;
    /* position: fixed; */
}
@media (max-width:992px) {
    .perfil-container{
        display: grid;
        grid-template-columns:  1fr;
        min-height: 100vh;
    }
    .perfil-navigation{
        display: none;
    }
}
.perfil-navigation > div{
    position: fixed;
    width: 221px;
    /* width: 100%; */
    /* margin-right: auto;
    margin-left: auto; */
}
.perfil-navigation-logo{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 100px;
    /* background-color: red; */
}
.perfil-navigation li{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    /* width: 80%; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    font-size: 24px;
}
li:hover{
    background-color: #fff;
}
li.active{
    background-color: #fff;
}
.perfil-navigation li .icon{
    height: 62px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 15px;
}
.icon .icon-normal{
    display: block;
}
.icon  .icon-active{
    display: none;
}
li.active .icon-normal{
    display: none;
}
li.active .icon-active{
    display: block;
}
.perfil-content .content{
    display: none;
}
.perfil-content .content.active{
    display: block;
}
.btn-inicio{
    border: 2px solid var(--color-blue);
    border-radius: 8px;
    color: var(--color-blue);
    font-size: 24px;
    text-decoration: none;
    height: 62px;
    display: inline-flex;
    align-items: center;
    padding:  0 20px;
}
.btn-inicio img{
    margin-right: 10px;
    height: 24px;
}
.perfil-content{
    padding: 30px;
}
.perfil-content-nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.perfil-content-nav .name-grey{
    color: #aaa;
}
.perfil-photo{
    display: flex;
    align-items: center;
    font-size: 24px;
}
.perfil-photo img{
    margin-right: 20px;
}
.perfil-content-cont{
    margin-top: 30px;
}
#miPerfil .perfil-content-cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}
@media (max-width:1200px) {
    #miPerfil .perfil-content-cont{
        gap: 20px;
    }
}
@media (max-width:992px) {
    #miPerfil .perfil-content-cont{
        grid-template-columns: 1fr ;
        gap: 20px;
    }
}
#miPerfil .perfil-datos{
    margin-top: 40px;
    background-color: #EFEFEF;
    border-radius: 8px;
    padding: 20px;
}

.perfil-datos-usuario{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom:10px;
}
.perfil-datos button{
    background-color: #000;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 130px;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 24px;
}
.perfil-datos-email{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.container-input{
    position: relative;
    width: 100%;
    height: 70px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #000;
    background-color: #fff;
    padding: 5px 15px;
}
.container-input input{
    width: 100%;
    font-size: 24px;
    border:none;
    margin-top: 5px;
}
.container-input input:focus{
    border: none;
    outline: none;
}
.container-input label{
    color: #aaa;
    font-size: 16px;
}
.disabled .container-input{
    background-color: transparent;
    border: none;
}
.disabled input{
    background-color: transparent;
    user-select: none;
    pointer-events: none;
}

.container-input-password{
    position: relative;
}
.container-input-password input[type="password"]{
    /* height: 70px; */
    width: 100%;
    background-color: #E6E6E6;
    border-radius: 8px;
    -moz-border-radius: 8px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 8px;
    border: none;
    font-size: 24px;
    font-weight: var(--text-regular);
    font-family: var(--text-rubik);
    margin-bottom: 20px;
}
.container-input-password label{
    position: absolute;
}
.container-input-password input::placeholder {
    color: transparent;
    user-select: none;
}
.container-input-password input:placeholder-shown~label {
    top: 20px;
    cursor: text;
    font-size: 24px;
}
.container-input-password label {
    color: #aaa;
    font-size: 16px;
    font-weight: var(--text-regular);
    font-family: var(--text-rubik);
    position: absolute;
    top: 8px;
    left: 20px;
    transition: .1s linear all;
    pointer-events: none;
    user-select: none;
}
.container-input-password input:focus~label {
    top: 8px;
    font-size: 16px;
}
.container-input-password input:focus {
    border: none;
    outline: none;
    box-shadow: inset 0 0 0 2px #000;
    background-color: #fff;
}
#miPerfil form{
    margin-top: 30px;
}
#miPerfil form button{
    background-color: #aaa;
    color: #000;
    padding: 20px;
    font-size: 24px;
    border: none;
    border-radius: 8px;
    float: right;
    transition: .2s ease;
    cursor: pointer;
}
#miPerfil form button:hover{
    background-color: #000;
    color: #fff;
}

.btn-sesionZoom{
    font-size: 24px;
    color: #000;
    background-color: #aaa;
    border-radius: 8px;
    padding: 20px;
    display: inline-block;
    cursor: pointer;
    transition: .2s ease;
}
.btn-sesionZoom:hover{
    background-color: #000;
    color: #fff;
}
#sesiones .perfil-content-cont{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.perfil-sesiones-card{
    width: 362px;
    border-radius: 8px;
    overflow: hidden;
}
.perfil-sesiones-card.pendiente{
    border: 2px solid var(--color-blue);
}

.perfil-sesiones-card-img{
    height: 176px;
}
.perfil-sesiones-card-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.perfil-sesiones-card-content{
    padding: 20px;
    font-size: 24px;
    background-color: #EFEFEF;
}
.perfil-sesiones-card-content .estado{
    color: #aaa;
}
.perfil-sesiones-card.pendiente .estado{
    color: var(--color-blue);
}
.perfil-sesiones-card-content div{
    margin-bottom: 5px;
}

.perfil-pagos-card-desc{
    display: flex;
    align-items: center;
}
.perfil-pagos-card-img{
    width: 148px;
    height: 148px;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 20px;
}
.perfil-pagos-card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
table{
    width: 90%;
    border-collapse: collapse;
}
@media (max-width:992px) {
    table{
        width: 100%;
    }
}
table tr{
    border-bottom: 1px  solid #e6e6e6;
}

table th h3{
    color: #aaa;
    text-align: left;
    padding: 20px 0px;
}
table td {
    padding: 20px 0px;
}