/* NAVBAR  */
nav .logo{
    background-image: url(../images/logo3.png);
}
.nav-links a:first-of-type{
    color: var(--color-blue);
    box-shadow: inset 0 0 0 2px var(--color-blue);
}
.nav-links a:first-of-type span{
    background-image: url(../images/icons/phone-blue.svg);
}
.menu-btn .textspin {
    filter: invert(1);
}
.menu-btn .bar {
    background-color: #000;
}
nav.sticky{
    background-color: var(--color-yellow);
}
nav.active .logo{
    background-image: url(../images/logo.png);
}
nav.active .nav-links a:first-of-type{
    color: #fff;
    box-shadow: inset 0 0 0 2px #fff;
}
nav.active .nav-links a:first-of-type span{
    background-image: url(../images/icons/phone-white.svg);
}
nav.active .menu-btn .textspin {
    filter: none;
}
nav.active .menu-btn .bar {
    background-color: #fff;
}
@media (max-width:992px) {
    nav{ background-color: #fff;}
    nav.sticky{
        background-color: #fff;
    }
    nav.active .logo{
        background-image: url(../images/logo-tarotistas-mobile.svg);
    }
    nav .logo{
        background-image: url(../images/logo-tarotistas-mobile.svg);
    }
}
/* SERVICIOS TAROTISTAS HEADER   */
.servicios-tarotistas-header {
    background-color: var(--color-yellow);
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: var(--text-rubik);
    overflow: hidden;
}

.servicios-tarotistas-header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicios-tarotistas-header h1 {
    color: var(--color-blue);
    display: flex;
    align-items: center;
}

.servicios-tarotistas-header h1 img {
    margin-right: 20px;
    height: 50px;
}

.servicios-tarotistas-header p {
    margin-top: 40px;
    margin-bottom: 50px;
}

.servicios-tarotistas-header-anim {
    width: 100%;
    height: 600px;
}

@media (max-width:992px) {
    .servicios-tarotistas-header {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .servicios-tarotistas-header-flex {
        gap: 100px;
    }

    .servicios-tarotistas-header h1 img {
        margin-right: 10px;
        height: 30px;
    }

    .servicios-tarotistas-header p {
        display: none;
    }

    .servicios-tarotistas-header .btn {
        margin-top: 20px;
    }

    .servicios-tarotistas-header-anim {
        width: auto;
        height: auto;
        transform: scale(1.2);
        margin-top: 55px;
        margin-bottom: 35px;
    }
}

@media (max-width:688px) {
    .servicios-tarotistas-header-flex {
        justify-content: center;
        align-items: stretch;
        flex-direction: column-reverse;
        gap: 0px;
    }
    .servicios-tarotistas-header-anim{
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width:500px) {
    .servicios-tarotistas-header-anim{
        width: 100%;
    }
}

/* SERVICIOS TAROTISTAS HEADER   */
/* SECCION SERVICIOS  */
.servicios-tarotistas-servicios {
    background-color: #EFEFEF;
    padding-top: 100px;
    padding-bottom: 100px;
}

.servicios-tarotistas-servicios-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 90px;
}

.servicios-tarotistas-servicios-grid .servicio-card img {
    height: 126px;
    margin-bottom: 10px;
}

@media (max-width:992px) {
    .servicios-tarotistas-servicios {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .servicios-tarotistas-servicios-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .servicios-tarotistas-servicios-grid .servicio-card img {
        height: 104px;
        margin-bottom: 10px;
    }

}

@media (max-width:688px) {
    .servicios-tarotistas-servicios-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px 90px;
    }
}

/* SECCION SERVICIOS FIN  */

/* SECCION TAROTISTAS  */
.servicios-tarotistas-tarotistas {
    padding-top: 100px;
    padding-bottom: 100px;
}

.servicios-tarotistas-tarotistas h1 {
    margin-bottom: 50px;
}

.servicios-tarotistas-tarotistas .btn {
    margin-top: 70px;
}

.seccion-tarotistas-items {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.seccion-tarotistas-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.seccion-tarotistas-item-img img {
    width: 100%;
}

.seccion-tarotistas-item-content {
    font-family: var(--text-rubik);
}

.seccion-tarotistas-item-content .like {
    font-size: 24px;
    font-weight: var(--text-bold);
}

.seccion-tarotistas-item-content h4 {
    font-size: 35px;
    font-weight: var(--text-semibold);
}

.seccion-tarotistas-item-content p {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 15px;
}

.seccion-tarotistas-item-content>a {
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    padding: 13px 15px;
    font-size: 24px;
}

.seccion-tarotistas-item-content a:first-of-type {
    background-color: #000;
    color: #fff;
    margin-right: 7px;
}

.seccion-tarotistas-item-content a:last-of-type {
    box-shadow: inset 0 0 0 2px #000;
    color: #000;
}

.home-tarotistas-slides-mobile {
    display: none;
    margin-top: 30px;
}

.home-tarotistas-slides-mobile-card {
    max-width: 100%;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.home-tarotistas-slides-mobile-card-img img {
    width: 100%;
}

.home-tarotistas-slides-mobile-card-content .like {
    font-size: 16px;
    font-weight: var(--text-bold);
    font-family: var(--text-rubik);
    margin-bottom: 15px;
}

.home-tarotistas-slides-mobile-card-content .like img {
    height: 25px;
}

.home-tarotistas-slides-mobile-card-content .nombre-tarotista {
    font-weight: var(--text-semibold);
}

.home-tarotistas-slides-mobile-card-content .desc-tarotista {
    font-size: 16px;
    font-weight: var(--text-regular);
    line-height: 22px;
    margin-bottom: 15px;
}

.home-tarotistas-slides-mobile-card-content>a {
    padding: 15px;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
    font-weight: var(--text-semibold);
    font-family: var(--text-rubik);
    text-align: center;
}

.home-tarotistas-slides-mobile-card-content .btn-citar {
    background-color: #000;
    color: #fff;
    margin-right: 5px;
}

.home-tarotistas-slides-mobile-card-content .btn-ver {
    background-color: transparent;
    color: #000;
    box-shadow: inset 0 0 0 2px #000;
}

@media (max-width:1300px) {
    .seccion-tarotistas-items {
        margin-top: 40px;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        width: 80%;
    }
    .seccion-tarotistas-item {
        gap: 15px;
    }
}
@media (max-width:1025px) {
    .seccion-tarotistas-items {
        margin-top: 40px;
        gap: 20px;
        width: 90%;
    }
}
@media (max-width:992px) {
    .servicios-tarotistas-tarotistas {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .servicios-tarotistas-tarotistas h1 {
        margin-bottom: 40px;
    }

    .servicios-tarotistas-tarotistas .btn-box-center {
        justify-content: center;
    }

    .servicios-tarotistas-tarotistas .btn {
        margin-top: 50px;
    }
    .seccion-tarotistas-item {
        gap: 20px;
    }
}
@media (max-width:900px) {
    .seccion-tarotistas-items {
        margin-top: 40px;
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        width: 70%;
    }
    .seccion-tarotistas-item {
        gap: 50px;
    }
}
@media (max-width:688px) {
    .seccion-tarotistas-items {
        display: none;
    }

    .home-tarotistas-slides-mobile {
        display: block;
    }

}
@media (max-width:359px) {
    .home-tarotistas-slides-mobile-card-img img{
        margin-top: 10px;
    }
    .home-tarotistas-slides-mobile-card-content .btn-citar{
        margin-bottom: 5px;
        display: block;
        margin-right: 0px
    }
    .home-tarotistas-slides-mobile-card-content .btn-ver{
        display: block;
    }
}
/* SECCION TAROTISTAS FIN */

/* SECCION CONSULTA CON NOSOTROS */
.consulta-con-nosotros {
    background-color: var(--color-blue);
    padding-top: 100px;
    padding-bottom: 100px;
}

.consulta-con-nosotros h1 {
    color: var(--color-yellow);
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}

.consulta-con-nosotros h1 img {
    transform: translateY(10px) translateX(50px);
    position: absolute;
}

.consulta-con-nosotros p {
    color: #fff;
    text-align: center;
    overflow-wrap: break-word
}

@media (max-width:992px) {
    .consulta-con-nosotros {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .consulta-con-nosotros h1 {
        margin-bottom: 45px;
    }

    .consulta-con-nosotros h1 img {
        transform: translateY(0px) translateX(20px);
        height: 90px;
    }
}
@media (max-width:368px) {
    .consulta-con-nosotros h1 img {
        display: none;
    }
}
/* SECCION CONSULTA CON NOSOTROS FIN*/