/* TAROTISTAS PRECIOS HEADER */
.tarotistas-precios-header {
    width: 100%;
    background-color: var(--color-blue);
    padding-top: 180px;
    padding-bottom: 100px;
    font-family: var(--text-rubik);
}

.tarotistas-precios-header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.tarotistas-precios-header h1 {
    color: var(--color-yellow);
}

.tarotistas-precios-header h1 img {
    position: absolute;
    margin-left: 25px;
    height: 70px;
}

.tarifas {
    display: flex;
}
.tarifas::-webkit-scrollbar {
    display: none;
    }
.tarifa-arcana-mayor {
    width: 312px;
    height: 460px;
    background-color: #000;
    border-radius: 8px;
    /* padding: 60px 50px; */
    padding: 48px 40px;
    position: relative;
}

.tarifa-arcana-mayor p {
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
    color: #fff;
    position: relative;
    z-index: 1;
}

.tarifa-arcana-mayor .time {
    color: var(--color-purple);
    font-size: 64px;
    line-height: 76px;
    position: relative;
    z-index: 1;
}

.tarifa-arcana-mayor .price {
    font-size: 28px;
    line-height: 20px;
    color: #fff;
    margin-bottom: 25px;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}

.tarifa-arcana-mayor .btn {
    position: relative;
    z-index: 1;
}

.tarifa-arcana-mayor .btn img {
    height: 22px;
    margin-left: 15px;
}
.tarifa-arcana-mayor .tarifas-anim{
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    margin: auto;
    width: auto; height: auto;
    display: block;
    transform: scale(1.3) translateY(-4%) translateX(-5%);
}

.tarifa-arcana-menor {
    /* width: 391px;
    height: 576px; */
    width: 312px;
    height: 460px;
    background-color: #fff;
    border-radius: 8px;
    margin-left: 25px;
    padding: 48px 40px;
}

.tarifa-arcana-menor p {
    color: #000;
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
}

.tarifa-arcana-menor .time {
    color: var(--color-blue);
    font-size: 64px;
    line-height: 76px;
}

.tarifa-arcana-menor .price {
    color: #aaa;
    font-size: 28px;
    line-height: 20px;
    margin-bottom: 30px;
}

.tarifa-arcana-menor .btn img {
    height: 22px;
    margin-left: 15px;
}
@media (max-width:1240px) {
    .tarotistas-precios-header-flex{
        width: 90%;
    }
}
@media (max-width:1100px) {
    .tarotistas-precios-header {
        padding-top: 120px;
        padding-bottom: 70px;
    }
    .tarotistas-precios-header-flex{
        flex-direction: column;
    }
    .tarotistas-precios-header h1 {
        margin-bottom: 80px;
        margin-left: 30px;
    }
}
@media (max-width:992px) {
    .tarotistas-precios-header-flex{
        align-items: stretch;
        width: auto;
    margin-left: 0px;
    margin-right: 0px;
    }
    
    .tarotistas-precios-header h1 {
        margin-bottom: 0px;
        margin-left: 80px;
    }
    
    .tarotistas-precios-header h1 img {
        margin-left: 20px;
        height: 40px;
    }
    
    .tarifas {
        overflow-y: auto;
    }
    
    .tarifa-arcana-mayor {
        min-height: 460px;
        min-width: 312px;
        margin-left: 80px;
        margin-top: 70px;
        margin-bottom: 50px;
    }
    
    .tarifa-arcana-menor {
        min-height: 460px;
        min-width: 312px;
        margin-left: 35px;
        margin-top: 70px;
        margin-bottom: 50px;
    }
    
}
@media (max-width:688px) {
    .tarotistas-precios-header h1{
        margin-left: 30px;
    }
    .tarifa-arcana-mayor{
        margin-left: 30px;
    }
    .tarifa-arcana-menor{
        margin-right: 30px;
    }
}
/* TAROTISTAS PRECIOS HEADER FIN  */
/* TAROTISTAS PRECIOS CONSULTA  */
.tarotistas-precios-consulta {
    background-color: var(--color-grey-light);
    padding-top: 100px;
    padding-bottom: 100px;
}

.tarotistas-precios-consulta h1 {
    color: var(--color-blue);
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}

.tarotistas-precios-consulta h1 img {
    transform: translateY(10px) translateX(50px);
    position: absolute;
}

.tarotistas-precios-consulta p {
    color: #000;
    text-align: center;
    overflow-wrap: break-word
}
@media (max-width:992px) {
    .tarotistas-precios-consulta {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    
    .tarotistas-precios-consulta h1 {
        margin-bottom: 40px;
    }
}
@media (max-width:688px) {
    .tarotistas-precios-consulta h1 img {
        transform: translateY(0px) translateX(15px);
        height: 90px;
    }
}
@media (max-width:368px) {
    .tarotistas-precios-consulta h1 img {
        display: none;
    }
}
/* TAROTISTAS PRECIOS CONSULTA  FIN*/
